@using BLL
@using MenuSystem
@model IndexModel

<h3> Current rules </h3>
<p>Type: @Model.Game.Rules.Name</p>


<form method="post" asp-page-handler="boardRules">
    <div class="row">
        <div class="col">
            Board width: 
            <input type="number" style="width: 3em" min="@Game.MinCols" max="@Game.MaxCols" name="width" value="@Model.Game.Rules.BoardCols"/>
        </div>
        <div class="col">
            Board height: 
            <input type="number" style="width: 3em" min="@Game.MinRows" max="@Game.MaxRows" name="height" value="@Model.Game.Rules.BoardRows"/>
        </div>
        <div class="col">
            Ships can touch: 
            <div class="form-check">
                <input class="form-check-input" type="radio" name="canTouch" id="canTouch1" value="Yes" @if (Model.Game.Rules.CanShipsTouch == 1)
                                                                                                        {
                                                                                                            @:checked
                                                                                                        }>
                <label class="form-check-label" for="canTouch1">
                    Yes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="canTouch" id="canTouch2" value="No" @if (Model.Game.Rules.CanShipsTouch == 0)
                                                                                                       {
                                                                                                           @:checked
                                                                                                       }>
                <label class="form-check-label" for="canTouch2">
                    No
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn-sm btn-info" value="Change board rules"/>
    </div>
</form>
@foreach (var boatRule in Model.Game.Rules.BoatRules)
{
    <form method="post" asp-page-handler="alt">
        Size @boatRule.Size boat:
        <input type="hidden" name="command" value="@((int)Command.EditShipInRules)"/>
        <input type="hidden" name="value1" value="@boatRule.Size"/>
        <input type="number" min="@Game.MinBoatQuantity" class="numberFields" id="@boatRule.Size" max="@Game.MaxBoatQuantity" name="value2" value="@boatRule.Quantity" disabled>
        <button type="button" class="btn btn-warning" onclick="edit(@boatRule.Size)">Edit</button>
        <input type="submit" class="btn btn-success submitFields" id="@boatRule.Size" value="Change" hidden/>
    </form>
}
<script>
    function edit(id) {
        var elements = document.getElementsByClassName("numberFields");
        var i;
        var len;
        for (i = 0, len = elements.length; i < len; i++) {
            elements[i].disabled = true;
            if (elements[i].id === id.toString()) {
                elements[i].disabled = false;
            }
        }
        elements = document.getElementsByClassName("submitFields");
        for (i = 0, len = elements.length; i < len; i++) {
            elements[i].hidden = true;
            if (elements[i].id === id.toString()) {
                elements[i].hidden = false;
            }
        }
        
        
    }
</script>

